* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
}

.dialogue-box {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
}